@model InteractiveTextbook.Models.ViewModels.UserViewModel.LoginViewModel

@{
    ViewData["Title"] = "Logowanie";
}

<h2>Logowanie</h2>

<form class="container d-flex flex-column align-content-center justify-content-center" asp-action="Login" method="post">
    <div class="form-group d-flex flex-column align-content-center justify-content-center">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group d-flex flex-column align-content-center justify-content-center">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group mt-4 text-center">
        <button type="submit" class="btn btn-success">Zaloguj się</button>
    </div>
</form>